body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #480db6;
}

.stopwatch {
    text-align: center;
    font-family: Arial, sans-serif;
}

#display {
    font-size: 48px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
}